header img {
  height: 80px;
  margin-left: 40px;
}
body {
  height: 125vh;
  background-image: url('https://wallpapers.com/images/hd/lush-green-forest-neblzag5t76yolal.jpg');
  background-size: cover;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
  color: white;
}

main {
  color: white;
}

header {
  background-color: white;
  position: fixed;
  padding-top: 1%;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  text-decoration: none;
  /* display: flex; */
}



